.main {
  padding: 10px;
}
.cardstyle {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
.inputform {
  display: flex;
}
.editinputform{
  margin: auto;
  padding: 20px;
  width:  80%;
  display: flex;
  flex-direction: column;
  gap:10px
}